<section>
<div class="col-md-3 sidebar">
    <div class = "title">
   <h1 class="header">Rob Chat</h1>
        <div id = "addRoom">
            <button type="button" class="btn btn-default btn-xs" ng-click="home.openModal()">Add Room</button>
        </div>
    </div>
    <ul ng-repeat="room in home.rooms | orderBy: '$value'">
        
        <li ng-click="home.activeRoom(this)"> {{room.$value}}</li>
    
        
    </ul>
</div>
    
<div class="col-md-9 chatRoom">
    <h3>{{home.active.room.$value}}</h3>
    <p ng-repeat="message in home.listOfMessages"> 
    <strong>{{message.username}}</strong>: {{message.content}} <small>{{message.setAt}}</small>
    </p>
    
    <div >
    <div class="message-input">
        <span>
            <input type="text" class="form-control"  placeholder="Send your messages here..." id="newMessage" ng-model="home.newMessage">
        </span>
      <span class="input-group-btn">
        <button class="btn btn-secondary"  id='message-button' type="button" ng-click='home.sendMessage(this)'>Go!</button>
      </span>
    </div>
  </div>
</div>
    
 

    
    

</section>